
Body {
    background-color: black;
}
h1{
    color: blanchedalmond;
    text-align: center;
}
h2{
    color: blanchedalmond;
    text-align: center;
}

.dev{
    color: aqua;
    text-align: center;
}
